.DS_Store
*/.DS_Store
.vscode/
llama.cpp/
model/chinese/chinese-alpaca-2-7b-hf
model/chinese/chinese-llama-2-7b-hf
model/checkpoint-*
model/pt_lora_model/
model/*.json
dataset/generate/
scripts/__pycache__/
scripts/training/__pycache__/
cache/*
model/target/
eval/
scripts/ceval/__pycache__/
scripts/ceval/data/
model/chinese/Qwen-7B-Chat/
model/chinese/Qwen-7B/
model/llama/llama-2-7b/
scripts/inference/__pycache__/