.DS_Store
*/.DS_Store
.vscode/
llama.cpp/
model/chinese/chinese-alpaca-2-7b-hf
model/chinese/chinese-llama-2-7b-hf
model/checkpoint-*
model/pt_lora_model/
model/*.json
dataset/generate/
scripts/__pycache__/
scripts/training/__pycache__/
cache/*
model/target/
eval/
scripts/ceval/__pycache__/
scripts/ceval/data/
model/chinese/Qwen-7B-Chat/
model/chinese/Qwen-7B/
model/chinese/Qwen-14B-Chat-Int4/
model/llama/llama-2-7b/
scripts/inference/__pycache__/
scripts/langchain/__pycache__/
apps/__pycache__/model_factory.cpython-310.pyc
scripts/training/ir2023_ashare_512/
scripts/training/ir2023_ashare_text_512/
scripts/training/tokenized.arrow
scripts/training/ir2023_ashare_llama_text_512/
scripts/training/ir2023_ashare_llama_512/
dataset/chat/cache
